header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;

}
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 100px;
    }
}